aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "3.13"
aiohttp==3.13.2 ; python_version >= "3.11" and python_version < "3.13"
aioitertools==0.13.0 ; python_version >= "3.11" and python_version < "3.13"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
aiosmtplib==4.0.2 ; python_version >= "3.11" and python_version < "3.13"
aiosqlite==0.21.0 ; python_version >= "3.11" and python_version < "3.13"
aiostream==0.5.2 ; python_version >= "3.11" and python_version < "3.13"
alembic==1.17.2 ; python_version >= "3.11" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.11.0 ; python_version >= "3.11" and python_version < "3.13"
arize-phoenix-evals==2.6.1 ; python_version >= "3.11" and python_version < "3.13"
arize-phoenix-otel==0.14.0 ; python_version >= "3.11" and python_version < "3.13"
arize-phoenix[evals]==4.36.0 ; python_version >= "3.11" and python_version < "3.13"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==25.4.0 ; python_version >= "3.11" and python_version < "3.13"
bcrypt==5.0.0 ; python_version >= "3.11" and python_version < "3.13"
beanie==1.30.0 ; python_version >= "3.11" and python_version < "3.13"
beautifulsoup4==4.14.2 ; python_version >= "3.11" and python_version < "3.13"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
boto3==1.41.2 ; python_version >= "3.11" and python_version < "3.13"
botocore==1.41.2 ; python_version >= "3.11" and python_version < "3.13"
cachetools==5.5.2 ; python_version >= "3.11" and python_version < "3.13"
certifi==2025.11.12 ; python_version >= "3.11" and python_version < "3.13"
cffi==2.0.0 ; python_version >= "3.11" and platform_python_implementation != "PyPy" and python_version < "3.13"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "3.13"
click==8.3.1 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
coloredlogs==15.0.1 ; python_version >= "3.11" and python_version < "3.13"
cryptography==46.0.3 ; python_version >= "3.11" and python_version < "3.13"
dataclasses-json==0.6.7 ; python_version >= "3.11" and python_version < "3.13"
deprecated==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
dirtyjson==1.0.8 ; python_version >= "3.11" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
dnspython==2.8.0 ; python_version >= "3.11" and python_version < "3.13"
docx2txt==0.8 ; python_version >= "3.11" and python_version < "3.13"
ecdsa==0.19.1 ; python_version >= "3.11" and python_version < "3.13"
email-validator==2.3.0 ; python_version >= "3.11" and python_version < "3.13"
et-xmlfile==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
fastapi-cli[standard]==0.0.16 ; python_version >= "3.11" and python_version < "3.13"
fastapi-cloud-cli==0.5.1 ; python_version >= "3.11" and python_version < "3.13"
fastapi-mail==1.5.8 ; python_version >= "3.11" and python_version < "3.13"
fastapi==0.112.4 ; python_version >= "3.11" and python_version < "3.13"
fastapi[all]==0.112.4 ; python_version >= "3.11" and python_version < "3.13"
fastar==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
fastembed==0.7.3 ; python_version >= "3.11" and python_version < "3.13"
filelock==3.20.0 ; python_version >= "3.11" and python_version < "3.13"
flatbuffers==25.9.23 ; python_version >= "3.11" and python_version < "3.13"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
fsspec==2025.10.0 ; python_version >= "3.11" and python_version < "3.13"
google-ai-generativelanguage==0.6.4 ; python_version >= "3.11" and python_version < "3.13"
google-api-core==2.28.1 ; python_version >= "3.11" and python_version < "3.13"
google-api-core[grpc]==2.28.1 ; python_version >= "3.11" and python_version < "3.13"
google-api-python-client==2.187.0 ; python_version >= "3.11" and python_version < "3.13"
google-auth-httplib2==0.2.1 ; python_version >= "3.11" and python_version < "3.13"
google-auth==2.43.0 ; python_version >= "3.11" and python_version < "3.13"
google-generativeai==0.5.4 ; python_version >= "3.11" and python_version < "3.13"
googleapis-common-protos==1.72.0 ; python_version >= "3.11" and python_version < "3.13"
graphql-core==3.2.7 ; python_version >= "3.11" and python_version < "3.13"
greenlet==3.2.4 ; python_version >= "3.11" and python_version < "3.13"
grpcio-status==1.62.3 ; python_version >= "3.11" and python_version < "3.13"
grpcio==1.76.0 ; python_version >= "3.11" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.13"
h2==4.3.0 ; python_version >= "3.11" and python_version < "3.13"
hdbscan==0.8.40 ; python_version >= "3.11" and python_version < "3.13"
hf-xet==1.2.0 ; python_version >= "3.11" and python_version < "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.13"
httplib2==0.31.0 ; python_version >= "3.11" and python_version < "3.13"
httptools==0.7.1 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.13"
httpx[http2]==0.28.1 ; python_version >= "3.11" and python_version < "3.13"
huggingface-hub==0.36.0 ; python_version >= "3.11" and python_version < "3.13"
humanfriendly==10.0 ; python_version >= "3.11" and python_version < "3.13"
hyperframe==6.1.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.11 ; python_version >= "3.11" and python_version < "3.13"
importlib-metadata==8.4.0 ; python_version >= "3.11" and python_version < "3.13"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.13"
jiter==0.12.0 ; python_version >= "3.11" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
joblib==1.5.2 ; python_version >= "3.11" and python_version < "3.13"
jsonpath-ng==1.7.0 ; python_version >= "3.11" and python_version < "3.13"
lazy-model==0.2.0 ; python_version >= "3.11" and python_version < "3.13"
llama-cloud==0.1.44 ; python_version >= "3.11" and python_version < "3.13"
llama-index-agent-openai==0.2.9 ; python_version >= "3.11" and python_version < "3.13"
llama-index-cli==0.1.13 ; python_version >= "3.11" and python_version < "3.13"
llama-index-core==0.10.58 ; python_version >= "3.11" and python_version < "3.13"
llama-index-embeddings-fastembed==0.1.7 ; python_version >= "3.11" and python_version < "3.13"
llama-index-embeddings-gemini==0.1.8 ; python_version >= "3.11" and python_version < "3.13"
llama-index-embeddings-openai==0.1.11 ; python_version >= "3.11" and python_version < "3.13"
llama-index-indices-managed-llama-cloud==0.2.7 ; python_version >= "3.11" and python_version < "3.13"
llama-index-legacy==0.9.48.post4 ; python_version >= "3.11" and python_version < "3.13"
llama-index-llms-gemini==0.1.12 ; python_version >= "3.11" and python_version < "3.13"
llama-index-llms-openai==0.1.27 ; python_version >= "3.11" and python_version < "3.13"
llama-index-multi-modal-llms-openai==0.1.9 ; python_version >= "3.11" and python_version < "3.13"
llama-index-program-openai==0.1.7 ; python_version >= "3.11" and python_version < "3.13"
llama-index-question-gen-openai==0.1.3 ; python_version >= "3.11" and python_version < "3.13"
llama-index-readers-file==0.1.33 ; python_version >= "3.11" and python_version < "3.13"
llama-index-readers-llama-parse==0.1.6 ; python_version >= "3.11" and python_version < "3.13"
llama-index-vector-stores-qdrant==0.2.17 ; python_version >= "3.11" and python_version < "3.13"
llama-index==0.10.58 ; python_version >= "3.11" and python_version < "3.13"
llama-parse==0.4.9 ; python_version >= "3.11" and python_version < "3.13"
llvmlite==0.45.1 ; python_version >= "3.11" and python_version < "3.13"
loguru==0.7.3 ; python_version >= "3.11" and python_version < "3.13"
lxml==6.0.2 ; python_version >= "3.11" and python_version < "3.13"
mako==1.3.10 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
mmh3==5.2.0 ; python_version >= "3.11" and python_version < "3.13"
motor==3.7.1 ; python_version >= "3.11" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
multidict==6.7.0 ; python_version >= "3.11" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
networkx==3.6 ; python_version >= "3.11" and python_version < "3.13"
nltk==3.9.2 ; python_version >= "3.11" and python_version < "3.13"
numba==0.62.1 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
onnxruntime==1.23.2 ; python_version >= "3.11" and python_version < "3.13"
openai==2.8.1 ; python_version >= "3.11" and python_version < "3.13"
openinference-instrumentation-langchain==0.1.55 ; python_version >= "3.11" and python_version < "3.13"
openinference-instrumentation-llama-index==2.2.4 ; python_version >= "3.11" and python_version < "3.13"
openinference-instrumentation-openai==0.1.40 ; python_version >= "3.11" and python_version < "3.13"
openinference-instrumentation==0.1.42 ; python_version >= "3.11" and python_version < "3.13"
openinference-semantic-conventions==0.1.25 ; python_version >= "3.11" and python_version < "3.13"
openpyxl==3.1.5 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-api==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-common==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-grpc==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-http==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-exporter-otlp==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-instrumentation==0.48b0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-proto==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-sdk==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-semantic-conventions==0.48b0 ; python_version >= "3.11" and python_version < "3.13"
orjson==3.11.4 ; python_version >= "3.11" and python_version < "3.13"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "3.13"
passlib[bcrypt]==1.7.4 ; python_version >= "3.11" and python_version < "3.13"
pillow==10.4.0 ; python_version >= "3.11" and python_version < "3.13"
ply==3.11 ; python_version >= "3.11" and python_version < "3.13"
portalocker==3.2.0 ; python_version >= "3.11" and python_version < "3.13"
propcache==0.4.1 ; python_version >= "3.11" and python_version < "3.13"
proto-plus==1.26.1 ; python_version >= "3.11" and python_version < "3.13"
protobuf==4.25.8 ; python_version >= "3.11" and python_version < "3.13"
psutil==7.1.3 ; python_version >= "3.11" and python_version < "3.13"
py-rust-stemmers==0.1.5 ; python_version >= "3.11" and python_version < "3.13"
pyarrow==22.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyasn1-modules==0.4.2 ; python_version >= "3.11" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.23 ; python_version >= "3.11" and platform_python_implementation != "PyPy" and python_version < "3.13" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "3.13"
pydantic-extra-types==2.10.6 ; python_version >= "3.11" and python_version < "3.13"
pydantic-settings==2.12.0 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.12.4 ; python_version >= "3.11" and python_version < "3.13"
pydantic[email]==2.12.4 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "3.13"
pyjwt==2.10.1 ; python_version >= "3.11" and python_version < "3.13"
pymongo==4.15.4 ; python_version >= "3.11" and python_version < "3.13"
pynndescent==0.5.13 ; python_version >= "3.11" and python_version < "3.13"
pyparsing==3.2.5 ; python_version >= "3.11" and python_version < "3.13"
pypdf==4.3.1 ; python_version >= "3.11" and python_version < "3.13"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.11" and python_version < "3.13"
pystache==0.6.8 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.11" and python_version < "3.13"
python-docx==1.2.0 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.2.1 ; python_version >= "3.11" and python_version < "3.13"
python-jose==3.5.0 ; python_version >= "3.11" and python_version < "3.13"
python-multipart==0.0.9 ; python_version >= "3.11" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.13"
pywin32==311 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.13"
qdrant-client==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
redis==5.3.1 ; python_version >= "3.11" and python_version < "3.13"
regex==2025.11.3 ; python_version >= "3.11" and python_version < "3.13"
reportlab==4.4.5 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.5 ; python_version >= "3.11" and python_version < "3.13"
rich-toolkit==0.16.0 ; python_version >= "3.11" and python_version < "3.13"
rich==14.2.0 ; python_version >= "3.11" and python_version < "3.13"
rignore==0.7.6 ; python_version >= "3.11" and python_version < "3.13"
rsa==4.9.1 ; python_version >= "3.11" and python_version < "3.13"
s3transfer==0.15.0 ; python_version >= "3.11" and python_version < "3.13"
scikit-learn==1.7.2 ; python_version >= "3.11" and python_version < "3.13"
scipy==1.16.3 ; python_version >= "3.11" and python_version < "3.13"
sentry-sdk==2.45.0 ; python_version >= "3.11" and python_version < "3.13"
setuptools==80.9.0 ; python_version >= "3.11" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.8 ; python_version >= "3.11" and python_version < "3.13"
sqlalchemy==2.0.44 ; python_version >= "3.11" and python_version < "3.13"
sqlalchemy[asyncio]==2.0.44 ; python_version >= "3.11" and python_version < "3.13"
sqlean-py==3.50.4.5 ; python_version >= "3.11" and python_version < "3.13"
starlette==0.38.6 ; python_version >= "3.11" and python_version < "3.13"
strawberry-graphql==0.236.0 ; python_version >= "3.11" and python_version < "3.13"
striprtf==0.0.26 ; python_version >= "3.11" and python_version < "3.13"
sympy==1.14.0 ; python_version >= "3.11" and python_version < "3.13"
tenacity==8.5.0 ; python_version >= "3.11" and python_version < "3.13"
threadpoolctl==3.6.0 ; python_version >= "3.11" and python_version < "3.13"
tiktoken==0.12.0 ; python_version >= "3.11" and python_version < "3.13"
tokenizers==0.22.1 ; python_version >= "3.11" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "3.13"
typer==0.20.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "3.13"
ujson==5.11.0 ; python_version >= "3.11" and python_version < "3.13"
umap-learn==0.5.9.post2 ; python_version >= "3.11" and python_version < "3.13"
uritemplate==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "3.13"
uvicorn==0.23.2 ; python_version >= "3.11" and python_version < "3.13"
uvicorn[standard]==0.23.2 ; python_version >= "3.11" and python_version < "3.13"
uvloop==0.22.1 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_version < "3.13"
watchfiles==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
websockets==15.0.1 ; python_version >= "3.11" and python_version < "3.13"
win32-setctime==1.2.0 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
wrapt==1.17.3 ; python_version >= "3.11" and python_version < "3.13"
yarl==1.22.0 ; python_version >= "3.11" and python_version < "3.13"
zipp==3.23.0 ; python_version >= "3.11" and python_version < "3.13"
